/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
        
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

.right-text {
    text-align: right;
}

.outer-container {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.containerBody {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #feffe9;
}

.outer-containerBody {
    width: 100%;
    padding: 20px;
    background-color: #feffe9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-link-container {
    display: flex;
    width: 250px;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    text-align: right;
    justify-self: end;
}

h1, h2, h3 {
    color: #333;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    color: #000000;
}

h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
    color: #000000;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    color: #000000;
}

h4{
    font-size: 0.75em;
    margin-bottom: 0.5em;
    color: #000000;
}
    

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

a h2 {
    font-size: 2em;
    margin: 0;
    color: #007bff;
}

a h2:hover {
    text-decoration: underline;
}

.highlight-blue {
    background-color: rgba(180, 219, 255, 0.463);
    color: black;
}

.line{
    width: 112px;
    height: 5px;
    border-bottom: 5px solid black;
    position: relative;
}
